# =============================================
# EJEMPLO DE VARIABLES DE ENTORNO
# Copia este archivo como .env y completa los valores
# =============================================
PORT=3000
NODE_ENV=development

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=tu_password_mysql
MYSQL_DATABASE=parcial2

# SQL Server
SQLSERVER_HOST=172.19.252.171
SQLSERVER_PORT=1433
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=tu_password_sa
SQLSERVER_DB=parcial2